In [36]:
# findspark.init('/opt/spark')
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [37]:
data = pd.read_csv('./scrap_data.csv', encoding='latin-1')

In [38]:
data.head()

,production_family,wk,fecha,fa_pn,pn_componente,wo,quantity,cod_defecto,causa,linea,turno
0,Wands (Kamuk),Week 01,1/3/2020,48400,48404,2046690.0,1,D1093,C7-Proceso,Line 13,T1
1,Wands (Kamuk),Week 01,1/3/2020,48400,48414,2046690.0,1,DO085,C7-Proceso,Line 13,T 1
2,Wands (Kamuk),Week 01,1/3/2020,48400,48416,2046690.0,1,DO1646,C7-Proceso,Line 13,T 1
3,Wands (Kamuk),Week 01,1/3/2020,48400,49697,2046690.0,4,DO1644,C7-Proceso,Line 13,T 1
4,Wands (Kamuk),Week 01,1/3/2020,48400,20363,2046690.0,4,NaN,C17- Pruebas de calidad,Line 13,T 1

In [25]:
data = data.rename(columns={"Production Family": "production_family", 
                     "WK": "wk",'Fecha':'fecha','FA P/N':'fa_pn','P/N COMPONENTE':'pn_componente',
                    'WO':'wo','Quantity ':'quantity','Cod. Defecto':'cod_defecto','Causa':'causa',
                     'Linea':'linea','TURNO':'turno'})
data.to_csv('./scrap_data.csv',index = False)

In [28]:
data.columns

Index(['production_family', 'wk', 'fecha', 'fa_pn', 'pn_componente', 'wo',
       'quantity', 'cod_defecto', 'causa', 'linea', 'turno'],
      dtype='object')

In [33]:
con = psycopg2.connect( host='localhost', user='postgres', password='root', dbname='postgres', port = 5432 )

cursor=con.cursor()

# cursor.execute('DROP TABLE IF EXISTS bigdata.scrap_table;\
#                 CREATE TABLE bigdata.scrap')

In [39]:
# engine = 

df = pd.read_sql_query('select * from bigdata.transactions ', )

In [31]:
query = 'DROP TABLE IF EXISTS bigdata.scrap;\
         CREATE TABLE bigdata.scrap\
        {Select \
        production_family,wk, fecha, fa_pn, pn_componente, wo,\
       quantity, cod_defecto, causa, linea, turno\
    }'
query

'DROP TABLE IF EXISTS bigdata.scrap;         CREATE TABLE bigdata.scrap        {Select         production_family,wk, fecha, fa_pn, pn_componente, wo,       quantity, cod_defecto, causa, linea, turno    }'

In [48]:
engine = create_engine('postgresql+psycopg2://postgres:root@localhost:5432/postgres')
conn = engine.connect()
data.to_sql('scrap_table',con=conn,schema='bigdata',index=False)

AttributeError: 'Connection' object has no attribute 'cursor'

In [19]:
con.close()

In [ ]:
# findspark.init('/opt/spark')

from datetime import datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, udf 
from pyspark.sql.types import DateType

spark = SparkSession \
    .builder \
    .appName("Basic JDBC pipeline") \
    .config("spark.driver.extraClassPath", "./Tarea3/postgresql-42.2.8.jar") \
    .config("spark.executor.extraClassPath", "./Tarea3/postgresql-42.2.8.jar") \
    .getOrCreate()

# Reading single DataFrame in Spark by retrieving all rows from a DB table.
df = spark \
    .read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/") \
    .option("user", "postgres") \
    .option("password", "root") \
    .option
    .load()