In [1]:
# Installar pip isntall psycopg2-binary
import psycopg2
import pandas as pd

# Insertar csv a postgresql

In [2]:
data = pd.read_csv('./scrap_data.csv', encoding='latin-1')

data.head()

,production_family,wk,fecha,fa_pn,pn_componente,wo,quantity,cod_defecto,causa,linea,turno
0,Wands (Kamuk),Week 01,1/3/2020,48400,48404,2046690.0,1,D1093,C7-Proceso,Line 13,T1
1,Wands (Kamuk),Week 01,1/3/2020,48400,48414,2046690.0,1,DO085,C7-Proceso,Line 13,T 1
2,Wands (Kamuk),Week 01,1/3/2020,48400,48416,2046690.0,1,DO1646,C7-Proceso,Line 13,T 1
3,Wands (Kamuk),Week 01,1/3/2020,48400,49697,2046690.0,4,DO1644,C7-Proceso,Line 13,T 1
4,Wands (Kamuk),Week 01,1/3/2020,48400,20363,2046690.0,4,NaN,C17- Pruebas de calidad,Line 13,T 1

# Correr desde aqui

In [3]:
create_query = 'DROP TABLE IF EXISTS bigdata.scrap;\
         CREATE TABLE bigdata.scrap\
        (\
        production_family varchar(256),wk varchar(256), fecha varchar(256), fa_pn varchar(256), pn_componente varchar(256), wo varchar(256),\
       quantity float, cod_defecto varchar(256), causa varchar(256), linea varchar(256), turno varchar(256)\
    ); \
commit;' 
create_query

'DROP TABLE IF EXISTS bigdata.scrap;         CREATE TABLE bigdata.scrap        (        production_family varchar(256),wk varchar(256), fecha varchar(256), fa_pn varchar(256), pn_componente varchar(256), wo varchar(256),       quantity float, cod_defecto varchar(256), causa varchar(256), linea varchar(256), turno varchar(256)    ); commit;'

In [6]:
con = psycopg2.connect( host='localhost', user='postgres', password='root', dbname='postgres', port = 5432 )
cursor=con.cursor()

In [7]:
cursor.execute(create_query)

In [8]:
pd.read_sql('select * from bigdata.scrap', con)

Empty DataFrame
Columns: [production_family, wk, fecha, fa_pn, pn_componente, wo, quantity, cod_defecto, causa, linea, turno]
Index: []

In [10]:
with open('scrap_data.csv', 'r') as f:
# Notice that we don't need the `csv` module.
    next(f) # Skip the header row.
    cursor.copy_from(f, 'bigdata.scrap', sep=',')
    con.commit()

In [11]:
pd.read_sql('select * from bigdata.scrap', con)

,production_family,wk,fecha,fa_pn,pn_componente,wo,quantity,cod_defecto,causa,linea,turno
0,Wands (Kamuk),Week 01,1/3/2020,48400,48404,2046690.0,1.0,D1093,C7-Proceso,Line 13,T1
1,Wands (Kamuk),Week 01,1/3/2020,48400,48414,2046690.0,1.0,DO085,C7-Proceso,Line 13,T 1
2,Wands (Kamuk),Week 01,1/3/2020,48400,48416,2046690.0,1.0,DO1646,C7-Proceso,Line 13,T 1
3,Wands (Kamuk),Week 01,1/3/2020,48400,49697,2046690.0,4.0,DO1644,C7-Proceso,Line 13,T 1
4,Wands (Kamuk),Week 01,1/3/2020,48400,20363,2046690.0,4.0,,C17- Pruebas de calidad,Line 13,T 1
...,...,...,...,...,...,...,...,...,...,...,...
39849,SA,Week 04,1/26/2020,16358,7229,2049249.0,3.0,DW07,C7-Proceso,Returns,T 1
39850,SA,Week 04,1/26/2020,93846,42003,2048805.0,8.0,DW01,C7-Proceso,SA,T 1
39851,SA,Week 04,1/26/2020,93846,4496,2048805.0,6.0,,C11 - Material afectado por otro componente (n...,SA,T 1
39852,SA,Week 04,1/26/2020,93846,12533,2048805.0,6.0,,C11 - Material afectado por otro componente (n...,SA,T 1
39853,SA,Week 04,1/26/2020,93846,42002,2048805.0,6.0,,C11 - Material afectado por otro componente (n...,SA,T 1

In [12]:
con.close()

# Aqui ya se conecta con pyspark

In [3]:
import findspark
findspark.init('/opt/spark')

from datetime import datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, udf 
from pyspark.sql.types import DateType

spark = SparkSession \
    .builder \
    .appName("Basic JDBC pipeline") \
    .config("spark.driver.extraClassPath", "./postgresql-42.2.8.jar") \
    .config("spark.executor.extraClassPath", "./postgresql-42.2.8.jar") \
    .getOrCreate()

# Reading single DataFrame in Spark by retrieving all rows from a DB table.
df = spark \
    .read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/") \
    .option("user", "postgres") \
    .option("password", "root") \
    .option("dbtable", "bigdata.scrap")\
    .load()

In [6]:
df = df.toPandas()

In [ ]:
df

In [9]:
df.dtypes

production_family     object
wk                    object
fecha                 object
fa_pn                 object
pn_componente         object
wo                    object
quantity             float64
cod_defecto           object
causa                 object
linea                 object
turno                 object
dtype: object

In [10]:
df.fa_pn.unique()

array(['48400', '84317', '49696', '49697', 'MR3557', '32791', '37801',
       '36700', '15324', '32792', '4403', '56086', '34496', '66970',
       '14682', '57407', '34731', '83034', '48401', '85936', '64953',
       '85875', '48221', '33509', '15546-01', '3557', '29743', '65203',
       '34770', '15568', '27631', '25110', '17358', '30646', '66971',
       '242401', '28084', '100043', '17331', '30647', '17357', '62897',
       '49711', '85937', '64622', '41450', '40927', '35648', '88000',
       '52607', '63374', '86995', '87005', '13609', '12197', '57896',
       '57894', '28365', '10370', '37067', '29375', '39388', '87000',
       '29884', '24984', '21401', '86990', '86003', '42550', '47313',
       '111000', '16940', '86000', '93846', '87015', '62057', '94076',
       '87020', '16943', '10375', '04351-12', '04351-02', '04351-56',
       '46606', '29863', '25048', '16885', '87010', '11788', '57899',
       '86001', '29994', '15078', '86985', '93847', '37732', '', '10389',
       '43465', '94886', '16941', '11363', '22163', '36398', '12782',
       '43549', '111005', '18611', '46610', '13379', '46609', '21380',
       '04351-05', '94074', '30588', '66000', '04351-52', '110000',
       '94073', '25050', '99000', '12769', '43933', '41451', '34236',
       '29995', '44581', '42000', '16358', '24537', '24531', '24535',
       '24978', '24536', '24538', '24542', '24533', '21785', '24534',
       '24544', '72203707', '72201995', '7208678', '72202468', '72203853',
       '72202674', '7211138', '72202901', '72202902', '14395', '10630',
       '7210300', '13593', '14623', '14508', '90500765', '14718',
       '72200750', '72201491', '72200752', '7207315', '13186', '7207247',
       '7207221', '72202469', '72200755', '72202467', '72200758',
       '7209779', '7209216', '7209413', '72200439', '7210425', '7205360',
       '7210426', '72202403', '72201811', '72205060', '72203721',
       '72202965', '72202897', '72203897', '72203331', '72202040',
       '72202039', '72202038', '90500756', '90500757', '72202621',
       '7210707', '72202796', '72203855', '72203793', '72201406',
       '72202798', '72203722', '72201542', '72201541', '72203785',
       '72202595', '10600', '72203951', '10650', '72203854', '72208678',
       '7209485', '72201494', '14204', '7209874', '7210424', '72205061',
       '72203706', '14396', '16993', '14477', '14859', '90500760',
       '14407', '72202625', '72203983', '7210303', '7210423', '7207007',
       '72202895', '4617', '7207220', '72203378', '72202896', '7210709',
       '72203981', '7207248', '7207001', '7207008', '7210708', '72201993',
       '7204895', '7207284', '72202998', '72202807', '7205659',
       '72203290', '72204688', '7204896', '72201201', '72201703',
       '72204690', '72203380', '72203856', '72200436', '72202613',
       '72202600', '72203896', '7209409', '90500758', '7207030', '14394',
       '72201806', '7207002', '14719', '72202602', '7210081', '7209412',
       '7207738', '72202894', '72202019', '72202893', '72202825',
       '72202611', '7209411', '72201543', '90508164', '90509511',
       '90509512', '90506181', '90504662', '90503630', '72201495',
       '72201361', '72200150', '90502933', '72203842', '72203705',
       '72203697', '72203704', '90502931', '14617', '90502932',
       '90506399', '90506398', '72203801', '72203708', '90504492',
       '72202898', '7210083', '72201537', '7210752', '72202675',
       '72202797', '72202615'], dtype=object)

In [11]:
df

,production_family,wk,fecha,fa_pn,pn_componente,wo,quantity,cod_defecto,causa,linea,turno
0,Wands (Kamuk),Week 01,1/3/2020,48400,48404,2046690.0,1.0,D1093,C7-Proceso,Line 13,T1
1,Wands (Kamuk),Week 01,1/3/2020,48400,48414,2046690.0,1.0,DO085,C7-Proceso,Line 13,T 1
2,Wands (Kamuk),Week 01,1/3/2020,48400,48416,2046690.0,1.0,DO1646,C7-Proceso,Line 13,T 1
3,Wands (Kamuk),Week 01,1/3/2020,48400,49697,2046690.0,4.0,DO1644,C7-Proceso,Line 13,T 1
4,Wands (Kamuk),Week 01,1/3/2020,48400,20363,2046690.0,4.0,,C17- Pruebas de calidad,Line 13,T 1
...,...,...,...,...,...,...,...,...,...,...,...
39849,SA,Week 04,1/26/2020,16358,7229,2049249.0,3.0,DW07,C7-Proceso,Returns,T 1
39850,SA,Week 04,1/26/2020,93846,42003,2048805.0,8.0,DW01,C7-Proceso,SA,T 1
39851,SA,Week 04,1/26/2020,93846,4496,2048805.0,6.0,,C11 - Material afectado por otro componente (n...,SA,T 1
39852,SA,Week 04,1/26/2020,93846,12533,2048805.0,6.0,,C11 - Material afectado por otro componente (n...,SA,T 1
39853,SA,Week 04,1/26/2020,93846,42002,2048805.0,6.0,,C11 - Material afectado por otro componente (n...,SA,T 1

In [15]:
df.production_family.unique()

array(['Wands (Kamuk)', 'Opus', 'Rapid Rhino', 'PKG', 'Final ', 'SA'],
      dtype=object)